.div-title {
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.example-spacer {
    flex: 1 1 auto;
}

.div-contenedor {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.example-full-width {
    width: 80%;
    margin-top: 15px;
}

.full-width {
    width: 90%;
    margin-top: 15px;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
    box-shadow: none;
}
