<div class="div-title">
    <h3>Dashboard</h3>
    <span class="example-spacer"></span>
</div>

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <mat-card>
            <mat-card-header>
                <mat-icon mat-card-avatar>person</mat-icon>
                <mat-card-title>Empleados</mat-card-title>
                <mat-card-subtitle>110 empleados</mat-card-subtitle>
            </mat-card-header>
        </mat-card>

    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <mat-card>
            <mat-card-header>
                <mat-icon mat-card-avatar>date_range</mat-icon>
                <mat-card-title>Vacunados</mat-card-title>
                <mat-card-subtitle>10 vacunados diarios</mat-card-subtitle>
            </mat-card-header>
        </mat-card>

    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <mat-card>
            <mat-card-header>
                <mat-icon mat-card-avatar>people</mat-icon>
                <mat-card-title>Vacunados</mat-card-title>
                <mat-card-subtitle>100 vacunados</mat-card-subtitle>
            </mat-card-header>
        </mat-card>

    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <mat-card>
            <mat-card-header>
                <mat-icon mat-card-avatar>biotech</mat-icon>
                <mat-card-title>No Vacunados</mat-card-title>
                <mat-card-subtitle>10 No vacunados</mat-card-subtitle>
            </mat-card-header>
        </mat-card>

    </div>
</div>
